html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-wrapper.container {
    width: 90%;
}

nav a,
nav ul a {
    color: #00695c;
}

nav ul a.active {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 3px solid green;
    line-height: 3.8em;
}

section#banner {
    width: 100%;
    height: 90vh;
    background-color: #275B84;
    background: linear-gradient(circle, #9E9FA3, #275B84, #275B84, #275B84);
    background-image: url(../images/banner_image.jpg);
    background-size: cover;
}

.centralized {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay {
    height: inherit;
    width: 108%;
    background-color: rgba(54, 130, 57, 0.7);
}

#banner .overlay {
    height: inherit;
    width: 100%;
    background: -webkit-linear-gradient(bottom, rgba(13, 13, 13, 0.57), rgba(0, 0, 0, 0.53), rgba(128, 128, 128, 0), rgba(128, 128, 128, 0));
    background: -moz-linear-gradient(bottom, rgba(13, 13, 13, 0.57), rgba(0, 0, 0, 0.53), rgba(128, 128, 128, 0), rgba(128, 128, 128, 0));
    background: -o-linear-gradient(bottom, rgba(13, 13, 13, 0.57), rgba(0, 0, 0, 0.53), rgba(128, 128, 128, 0), rgba(128, 128, 128, 0));
    background: -ms-linear-gradient(bottom, rgba(13, 13, 13, 0.57), rgba(0, 0, 0, 0.53), rgba(128, 128, 128, 0), rgba(128, 128, 128, 0));
    background: linear-gradient(bottom, rgba(13, 13, 13, 0.57), rgba(0, 0, 0, 0.53), rgba(128, 128, 128, 0), rgba(128, 128, 128, 0));
    background-attachment: fixed;
    padding-top: 1em;
    background-size: cover;
}

section#steps_2_help {
    margin-top: -7em;
}



section#steps_2_help .col {
    background-image: url(../images/food_safty.jpg);
    background-size: 100% 100%;
}

section#steps_2_help .col .overlay {
    margin-left: -0.8em;
}

.col .overlay {
    padding: 0px 1.5em;
    display: inline-block;
}

.icon.ion-ios-analytics,
.icon.ion-earth,
.icon.ion-person-add,
.icon.ion-ios-people,
.icon.ion-android-list {
    font-size: 6em;
    line-height: 0;
}

#stats {
    padding: 2em 0;
}

#stats .figures {
    line-height: 0.5;
}

#causes>div:first-child {
    border-left: 5px solid seagreen;
    color: seagreen;
    padding: 0.7em;
}

<<<<<<< HEAD
div#padder {
    margin-top: -1em;
    height: 57px;
    padding: 0.55em;
}

div#padder ul a {
    color: #ffffff !important;
}
div#padder ul > li {
padding: 0 1em;
}
div#padder > ul > li {
    float: left;
    margin: 0em 1em;
}

div#padder > ul > li:nth-child(1) > i {
left: 18px;
}
div#padder > ul > li > i {
line-height: inherit;
font-size: 23px;
position: absolute;
top: 4px;
}

div#padder > ul > li:nth-child(1) > i {
left: 16px;
}
div#padder > ul > li:nth-child(2) > i {
left: 303px;
=======
.no-padding {
    padding: 0;
}

.full-width {
    width: 100%;
}

.no-bottom-margin {
    margin-bottom: 0;
}

body#home_body causes {
    border: 1px #bdbdbd solid;
}

.raise_fund_on_card_50 {
    width: 46%;
    display: inline-block;
    text-align: center;
    margin-left: 0.7em;
    border: 1px #bdbdbd solid;
}

.raise_fund_on_card_50.g {
    margin-left: 0;
}

.raise_fund_on_card_50 span.small-top {
    display: block;
    padding-top: 6px;
}

.raise_fund_on_card_50 span.amount {
    display: block;
    font-size: 1.4em;
>>>>>>> origin/master
}